<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/
    
    # Dosya ve klasörler varsa direkt erişim izin ver
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Tüm istekleri index.php'ye yönlendir
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
